.hide{
    opacity: 0;
    filter: blur(0.3rem);
    transform: rotateY(90deg);
    transition: all 0.8s;
  }
  .show{
    opacity: 1;
    filter: blur(0);
    transform: rotateY(0deg);
  }

  /* STAR WARS LIKE TRANSITIONS WITH TEXT!
  .hide {
    opacity: 0;
    transform: perspective(600px) rotateX(90deg);
    transition: all 1s ease-in-out;
  }
  .show {
    opacity: 1;
    transform: perspective(600px) rotateX(0deg);
  }
   */